# MANIFEST.in

prune deploy
prune docs
prune examples
prune logo
prune scripts
prune tests

exclude vois/.gitignore
exclude vois/.gitkeep

exclude vois/vuetify/.gitignore
exclude vois/vuetify/.gitkeep

exclude vois/*.ipynb
exclude vois/vuetify/*.ipynb

prune __pycache__
prune */__pycache__ 
recursive-exclude */__pycache__ *

prune .ipynb_checkpoints
prune */.ipynb_checkpoints 
recursive-exclude */.ipynb_checkpoints *