# MANIFEST.in

include src/*.py
include src/vuetify/*.py
include src/vuetify/extra/*.py
include src/vuetify/extra/*.vue

recursive-exclude src *.ipynb
recursive-exclude src *.xml
recursive-exclude src *.geojson

prune __pycache__
prune */__pycache__ 
recursive-exclude */__pycache__ *

prune .ipynb_checkpoints
prune */.ipynb_checkpoints 
recursive-exclude */.ipynb_checkpoints *
